<!DOCTYPE html>
<html>
<head>
  <title>Recibo Nº<%=recibo.id%></title>
  <style>
    .via {
      width: 15cm;
      height: 11cm;
      border-style: solid;
      border-width: 2px;
      margin: .8cm auto;
      padding: 0.5cm;
      position: relative;
    }

    .num-via {
      float: left;
      width: 10em;
      display: inline;
    }

    .logo-div {
      width: 10cm;
      height: 1.8cm;
      max-width: 10cm;
      max-height: 1.8cm;
      float: right;
      border-style: solid;
      border-width: 0px;
      display:inline;
    }

    .recibo-titulo, .recibo-valor {
      font-size: 14pt;
      font-weight: bold;
    }

    .recibo-titulo {
      position: absolute;
      top: 2.7cm;
    }

    .recibo-valor {
      position: absolute;
      top: 2.7cm;
      right: 3cm;
    }

    .recibo-texto, .recibo-assinatura {
      font-size: 12pt;
    }

    .recibo-texto {
      position: absolute;
      top: 4.5cm;
      text-align: justify;
      padding-right: inherit;
    }

    .recibo-assinatura {
      position: absolute;
      top: 8.3cm;
      width: 100%;
      padding-right: inherit;
    }

    .recibo-assinatura .favorecido,
    .recibo-assinatura .data{
      text-align: center;
    }

    .recibo-assinatura hr {
      width: 8cm;
      margin-top: 1.5cm;
    }

    .recibo-assinatura .favorecido .cpf_cnpj,
    .recibo-assinatura .favorecido .rg {
      font-size: 10pt;
    }

    /*.recibo-assinatura .favorecido .cpf_cnpj {*/
    /*  float: left;*/
    /*}*/

    /*.recibo-assinatura .favorecido .rg {*/
    /*  float: right;*/
    /*}*/

    hr.linha_entre_vias {
      border-top: 1px dashed #000;
    }

  </style>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"> </script>
</head>
<body>

<%= yield %>

</body>
</html>
